@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
  display: flex;
  margin-top: 0vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* outline: 1px solid red; */
  flex-direction: column;
  background-color: #2d2d2d;
}

.home-section {
  display: flex;
  position: relative;
  flex-direction: column;
  outline: red solid 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.postsPage {
  display: flex;
  position: relative;
  flex-direction: column;
  outline: purple solid 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.doggoPicture {
  width: 200px;
  height: 200px;
}